#game-container {
    background: rgba(0,0,0,0.2);
    width: 95vw;
    height: 95vw;
    @media (min-width: 700px) {
        width: 600px;
        height: 600px;
    }
    @media (min-width: 1000px) {
        width: 700px;
        height: 700px;
    }
    margin: 10px auto 20px;
    border: 1px solid black;
    display: grid;
    gap: 1px;
    padding: 1px;
}

.cell {
    min-width: 5px;
    min-height: 5px;
    flex: 1;
    background: white;
    &:hover {
        background: rgba(0, 0, 0, 0.2);
    }
    cursor: pointer;
}

.cell-active {
    min-width: 5px;
    min-height: 5px;
    flex: 1;
    border: 1px solid grey;
    background: black;
    &:hover {
        background: rgba(0, 0, 0, 0.8);
    }
}